.section__projects {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #060606;

  .container__projects {
    height: 100%;
    padding: 70px 15px;
    margin: 0 auto;

    .title__projects {

      h2 {
        font-size: 64px;
        color: white;
        padding-bottom: 40px;
      }
    }

    .projects__cards {
      display: flex;
      margin: 0 -15px;
      padding: 0 15px;

      .card {
        width: 33.3%;
        position: relative;
        margin: 0 15px;
        height: 450px;
        padding: 0 15px;
        border-radius: 20px;
        transition: 0.5s;
        background-color: rgba(249, 0, 77, 0.13);
        border: 3px solid rgba(249, 0, 77, 0.53);

        h3 {
          margin-top: 50%;
          color: whitesmoke;
          font-size: 32px;
          transform: rotate(-40deg);
          letter-spacing: 2px;
          opacity: 1;
        }

        .card__body {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 1s;
          top: 20px;
          left: 0;
          padding: 0 20px;

          h4 {
            color: whitesmoke;
            font-size: 32px;
            letter-spacing: 2px;
            opacity: 1;
            margin-bottom: 15px;
          }

          svg {
            text-align: center;
            animation: spin 2s infinite linear;
          }

          p {
            color: whitesmoke;
            margin-bottom: 15px;
          }

          button {
            background: none;
            border: 2px solid #f9004d;
            padding: 10px 30px;
            border-radius: 10px;
            letter-spacing: 1px;
            cursor: pointer;

            a {
              color: white;
              width: 100%;
            }
          }
        }

        &:before {
          border-radius: 20px;
          background-image: url("../../common/img/fon.jpeg");
          content: '';
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          position: absolute;
          opacity: 0.3;
          background-color: #f9004d;
          transition: 0.5s;
        }
      }

      .desktop {

        &:hover {
          -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
          transform: scale(1.03);
          transition: 0.5s;

          h3 {
            opacity: 0;
          }

          &:before {
            opacity: 1;
            transition: 1s;
          }

          .card__body {
            transition: 1s;
            opacity: 1;
          }
        }
      }
    }
  }
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {

  .section__projects {

    .container__projects {

      .title__projects {

        h2 {
          font-size: 38px;
        }
      }

      .projects__cards {
        flex-wrap: wrap;
        justify-content: center;

        .card {
          width: 40%;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .section__projects {

    .container__projects {

      .projects__cards {
        flex-wrap: wrap;
        justify-content: center;

        .card {
          width: 80%;
          height: 450px;
          margin-bottom: 30px;
        }

        .active {
          -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
          transform: scale(1.03);
          transition: 0.5s;

          &:before {
            opacity: 1;
            transition: 1s;
          }

          h3 {
            opacity: 0;
          }

          .card__body {
            transition: 1s;
            opacity: 1;
            z-index: 22;
            top: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .section__projects {

    .container__projects {

      .projects__cards {
        flex-wrap: wrap;
        justify-content: center;

        .card {
          width: 90%;
          height: 450px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
