.footer {
  background-color: #060606;
  text-align: center;

  .container__footer {
    height: 90px;
    text-align: center;
    align-items: center;

    h2 {
      color: gray;
      padding: 30px;
    }

  }
}
