.skills {
  li {
    position: relative;
    color: white;
    letter-spacing: 2px;
    line-height: 26px;
      &:before {
      color: #f9004d;
      content: "▪";
      padding-right: 10px;
    }
  }
}

.education {
  p {
    font-size: 24px;
    line-height: 28px;
    color: white;
    &:before {
      color: #f9004d;
      content: "▪";
      padding-right: 10px;
    }
  }
}
